*{margin:0;padding:0;background-color: white;}

body{
    position: absolute;
    background-repeat:no-repeat;
    background-image: url("../Image/potager.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

div{
    position: absolute;
    
}

.arbre{
    position: absolute;
    border: 0px solid black;
    top: 5%; left: 3%;
    background-color: rgb(148, 196, 17);
    border-radius: 5px;
    width: 10%; height: 5%;
}

.arbre > a {
    position: absolute;
    top: 12%; left: 32%;
    background-color: rgb(148, 196, 17);
    color: black;
}

.legende{
    top: 20%; left: 78%;
    width: 20%; height: 70%;
    background-color: white;
    border: 2px solid rgb(46, 61, 3);
    
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(148,196,17,0.800);
}
.titreL {
    position: absolute;
    top: 15%; left: 78%;
    width: 20%; height: 5%;
    border: 2px solid rgb(46, 61, 3);
    text-align: center;
    background-color: whitesmoke;
    background-color: rgba(148,196,17,0.800);

}

.parcelle{
    top: 15%; left: 5%;
    width: 65%; height: 75%;
    /* border: 1px solid black; */
    border-radius: 10px 10px 10px 10px;

}

.parcelle div {
    color: white;
}
.parcelle div:hover{
    /* background-color: orange; */
    border-color: rgb(148, 196, 17);
}



.parcelle1{
    width: 50%; height: 50%;
    background-color: #53b446;
    border-radius: 10px 0px 0px 0px;
    background-image: url("../Image/carottes.jpg");
    /* background-position: center; */
    background-repeat:no-repeat;
    background-size: cover;
    border: 4px solid black;
    
}

.parcelle2{
    top: 50%; 
    width: 50%; height: 50%;
    border-radius: 0px 0px 0px 10px;
}

.parcelle2-1{
    width: 100%; height: 50%;
    background-color: #1a940a;
    background-image: url("../Image/terre.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    border: 4px solid black;
}
.parcelle2-2{
    top: 50%;
    width: 100%; height: 50%;
    background-color: #63df3e;
    border-radius: 0px 0px 0px 10px;
    background-image: url("../Image/PommeDeTerre.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    border: 4px solid black;
}
.parcelle3{
    left: 50%;
    width: 50%; height: 50%;
    border-radius: 0px 10px 0px 0px;
}
.parcelle3-1{
    width: 50%; height: 100%;
    
}
.parcelle3-1-1{
    width: 100%; height: 50%;
    background-color: #66e456;
    background-image: url("../Image/Tomate.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    border: 4px solid black;
}
.parcelle3-1-2{
    top: 50%;
    width: 100%; height: 50%;
    background-color: #77ca6c;
    background-image: url("../Image/Radis.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    border: 4px solid black;
}
.parcelle3-2{
    left: 50%;
    width: 50%; height: 100%;
    background-color: #1b6611;
    border-radius: 0px 10px 0px 0px;
    background-image: url("../Image/terre.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    border: 4px solid black;
}
.parcelle4{
    top: 50%; left: 50%;
    width: 50%; height: 50%;
    background-color: #305a2b;
    border-radius: 0px 0px 10px 0px;
    background-image: url("../Image/Poivron.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    border: 4px solid black;
}



.legende > p{
    padding-left: 10%;
    background-color: transparent;
}

.legende > h5{
    padding-left: 5%;
    background-color: transparent;
}



.parcelle > div{
    text-align: center;
}

.titreL{
    border-radius: 10px 10px 0px 0px;
}