*{margin:0;padding:0;background-color: white;}

body{
    position: absolute;
	background-repeat:no-repeat;
	background-image: url("../Image/potager.jpg");
	background-size: cover;
    background-position: center;
    width: 100%;
	height: 100%;
}
.legende{
    position: absolute;
    top: 20%; left: 3%;
    width: 20%; height: 70%;
    border: 2px solid black;
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(106,64,1,0.800);
}
.titreL {
    position: absolute;
    top: 15%; left: 3%;
    width: 20%; height: 5%;
    border: 2px solid black;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(106,64,1,0.800);
}
.legende > h5{
    padding-left: 5%;
    background-color: transparent;
}
.legende > p {
    padding-left: 10%;
    background-color: transparent;
}

.Carotte{
    text-align: center;
    border: 1px solid black;
    position: absolute;
    top: 25%; left: 25%;
    width: 50%; height: 50%;
    background-color: #53b446;
    /* background-image: url(th.jpg); */
}
.Poivron{
    text-align: center;
    border: 1px solid black;
    position: absolute;
    top: 25%; left: 25%;
    width: 50%; height: 50%;
    background-color: #305a2b;
}

.Oignon{
    text-align: center;
    border: 1px solid black;
    position: absolute;
    top: 25%; left: 35%;
    width: 25%; height: 50%;
    background-color: #1b6611;
}

.Radis{
    text-align: center;
    border: 1px solid black;
    position: absolute;
    top: 35%; left: 35%;
    width: 25%; height: 25%;
    background-color: #77ca6c;
}

.Tomate{
    text-align: center;
    border: 1px solid black;
    position: absolute;
    top: 35%; left: 35%;
    width: 25%; height: 25%;
    background-color: #77ca6c;
}

.PommeDeTerre{
    text-align: center;
    border: 1px solid black;
    position: absolute;
    top: 35%; left: 30%;
    width: 45%; height: 25%;
    background-color: #63df3e;
}

.ChouDeBruxelle{
    text-align: center;
    border: 1px solid black;
    position: absolute;
    top: 35%; left: 30%;
    width: 45%; height: 25%;
    background-color: #1a940a;
}

.arbre{
    position: absolute;
    top: 2%; left: 3%;
    background-color: transparent;

}

.arbreGestion{
    position: absolute;
    top: 2%; left: 101%;
    width: 90%; height: 100%;
    background-color: transparent;
}
.arbreGLL{
    position: absolute;
    top: 2%; left: 192%;
    width: 90%; height: 100%;
    background-color: transparent;
}
.arbreGLL > p {
    position: absolute;
    background-color: transparent;
    visibility: hidden;
}

.arbreTll{
    position: absolute;
    top: 2%; left: 182%;
    width: 130%; height: 100%;
    background-color: transparent;
}
.arbreTll > p {
    position: absolute;
    background-color: transparent;
    visibility: hidden;
}

.arbreO{
    position: absolute;
    top: 2%; left: 155%;
    width: 130%; height: 100%;
    background-color: transparent;
}
.arbreO > p {
    position: absolute;
    background-color: transparent;
    visibility: hidden;
}

.arbreH{
    position: absolute;
    top: 2%; left: 159%;
    width: 130%; height: 100%;
    background-color: transparent;
}
.arbreH > p {
    position: absolute;
    background-color: transparent;
    visibility: hidden;
}


.arbre > a {
    background-color: transparent;
    color: rgb(0, 0, 0);
}
.arbreGestion > p {
    position: absolute;
    background-color: transparent;
}

.Gestion{
    position: absolute;
    top: 15%; left: 78%;
    width: 20%; height: 75%;
    border: 1px solid black;
    border-radius: 5px;
}

.Gestion > #Gestion{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid black;
}

button{
    border-radius: 5px;
    padding: 1%;    
}

.Gerer{
    visibility: hidden;
}
.Travailler{
    visibility: hidden;
}
.Observer{
    visibility: hidden;
}
.Historique{
    visibility: hidden;
}

.Carotte > .Transplanter
{
    background-color: #53b446;
    position: absolute;
    top: 45%;
    left: 35%;
}

.Carotte > .H2019{
    visibility: hidden;
    background-color: #53b446;
    position: absolute;
    top: 45%;
    left: 35%;
}

.Carotte > .H2018{
    background-color: #53b446;
    position: absolute;
    top: 35%;
    left: 35%;
}

.Carotte > .H2017{
    background-color: #53b446;
    position: absolute;
    top: 45%;
    left: 35%;
}

.Carotte > .H2016{
    background-color: #53b446;
    position: absolute;
    top: 45%;
    left: 35%;
}

.Tomate > .Transplanter
{
    background-color: #77ca6c;
    position: absolute;
    top: 45%;
    left: 35%;
}

.Tomate > .H2019{
    visibility: hidden;
    background-color: #77ca6c;
    position: absolute;
    top: 45%;
    left: 15%;
}

.Tomate > .H2018{
    background-color: #77ca6c;
    position: absolute;
    top: 25%;
    left: 20%;
}

.Tomate > .H2017{
    background-color: #77ca6c;
    position: absolute;
    top: 40%;
    left: 30%;
}

.Tomate > .H2016{
    background-color: #77ca6c;
    position: absolute;
    top: 45%;
    left: 15%;
}

.Radis > .Transplanter
{
    background-color: #77ca6c;
    position: absolute;
    top: 45%;
    left: 35%;
}


.Radis > .H2019{
    visibility: hidden;
    background-color: #77ca6c;
    position: absolute;
    top: 45%;
    left: 30%;
}

.Radis > .H2018{
    background-color: #77ca6c;
    position: absolute;
    top: 25%;
    left: 20%;
}

.Radis > .H2017{
    background-color: #77ca6c;
    position: absolute;
    top: 40%;
    left: 30%;
}

.Radis > .H2016{
    background-color: #77ca6c;
    position: absolute;
    top: 45%;
    left: 15%;
}

.PommeDeTerre > .Transplanter
{
    background-color: #63df3e;
    position: absolute;
    top: 45%;
    left: 35%;
}

.PommeDeTerre > .H2019{
    visibility: hidden;
    background-color: #63df3e;
    position: absolute;
    top: 45%;
    left: 40%;
}

.PommeDeTerre > .H2018{
    background-color: #63df3e;
    position: absolute;
    top: 25%;
    left: 35%;
}

.PommeDeTerre > .H2017{
    background-color: #63df3e;
    position: absolute;
    top: 40%;
    left: 35%;
}

.PommeDeTerre > .H2016{
    background-color: #63df3e;
    position: absolute;
    top: 45%;
    left: 30%;
}

.Poivron > .Transplanter
{
    background-color: #305a2b;
    position: absolute;
    top: 45%;
    left: 35%;
}

.Poivron > .H2019{
    visibility: hidden;
    background-color: #305a2b;
    position: absolute;
    top: 45%;
    left: 40%;
}

.Poivron > .H2018{
    background-color: #305a2b;
    position: absolute;
    top: 35%;
    left: 35%;
}

.Poivron > .H2017{
    background-color: #305a2b;
    position: absolute;
    top: 40%;
    left: 35%;
}

.Poivron > .H2016{
    background-color: #305a2b;
    position: absolute;
    top: 45%;
    left: 30%;
}

.ChouDeBruxelle > .Semer
{
    background-color: #1a940a;
    position: absolute;
    top: 45%;
    left: 35%;
}

.Oignon > .Semer
{
    background-color: #1a940a;
    position: absolute;
    top: 45%;
    left: 35%;
}

.ChouDeBruxelle > .Transplanter
{
    background-color: #1a940a;
    position: absolute;
    top: 45%;
    left: 35%;
}

.ChouDeBruxelle > .H2019{
    visibility: hidden;
    background-color: #1a940a;
    position: absolute;
    top: 45%;
    left: 35%;
}

.ChouDeBruxelle > .H2018{
    background-color: #1a940a;
    position: absolute;
    top: 35%;
    left: 35%;
}

.ChouDeBruxelle > .H2017{
    background-color: #1a940a;
    position: absolute;
    top: 45%;
    left: 35%;
}

.ChouDeBruxelle > .H2016{
    background-color: #1a940a;
    position: absolute;
    top: 45%;
    left: 35%;
}

.Oignon > .Transplanter
{
    background-color: #1b6611;
    position: absolute;
    top: 45%;
    left: 35%;
}

.Oignon > .H2019{
    visibility: hidden;
    background-color: #1b6611;
    position: absolute;
    top: 45%;
    left: 35%;
}

.Oignon > .H2018{
    background-color: #1b6611;
    position: absolute;
    top: 35%;
    left: 35%;
}

.Oignon > .H2017{
    background-color: #1b6611;
    position: absolute;
    top: 45%;
    left: 35%;
}

.Oignon > .H2016{
    background-color: #1b6611;
    position: absolute;
    top: 45%;
    left: 35%;
}

.Gestion > #Gestion > button
{
    margin-left: 2.5%;
    padding:6px 0 6px 0;
    font:Bold 13px Arial;
    background:#d34836;
    color:#fff;
    width:45%;
    border-radius:2px;
    border:none;
}

.Gestion > #Gestion > #Gerer
{
    margin-bottom: 5px;
    margin-top: 5px;
}

.Gestion > #Gestion > #Observer
{
    margin-bottom: 5px;
}

.Gestion > .Gerer > button
{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%; 
    margin-bottom: 5%; 
    padding:6px 0 6px 0;
    font:bold 13px Arial;
    background:#478bf9;
    color:#fff;
    border-radius:2px;
    width:90%;
    border:none;
}

.Travailler
{
    position: absolute;
    top: 15%;
}

.Travailler
{
    position: absolute;
    top: 15%;
}

.Observer
{
    position: absolute;
    top: 15%;
    width: 100%;
}

.Historique
{
    position: absolute;
    top: 15%;
    width: 100%;
}

.Gestion > .Travailler > button
{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%; 
    margin-bottom: 5%; 
    padding:6px 0 6px 0;
    font:bold 13px Arial;
    background:#478bf9;
    color:#fff;
    border-radius:2px;
    width:90%;
    border:none;
}

.Gestion > .Observer > button
{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%; 
    margin-bottom: 5%; 
    padding:6px 0 6px 0;
    font:bold 13px Arial;
    background:#478bf9;
    color:#fff;
    border-radius:2px;
    width:90%;
    border:none;
}

.Gestion > .Historique > button
{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%; 
    margin-bottom: 5%; 
    padding:6px 0 6px 0;
    font:bold 13px Arial;
    background:#478bf9;
    color:#fff;
    border-radius:2px;
    width:90%;
    border:none;
}

.Carotte
{
    border-radius: 10px 10px 10px 10px;
}

.Radis
{
    border-radius: 10px 10px 10px 10px;
}

.Tomate
{
    border-radius: 10px 10px 10px 10px;
}

.PommeDeTerre
{
    border-radius: 10px 10px 10px 10px;
}

.Poivron
{
    border-radius: 10px 10px 10px 10px;
}

.Carotte
{
    border-radius: 10px 10px 10px 10px;
}

.ChouDeBruxelle
{
    border-radius: 10px 10px 10px 10px;
}

.Oignon
{
    border-radius: 10px 10px 10px 10px;
}

.Gestion
{
    background-color: beige;
}

#Gestion
{
    background-color: beige;
}